@model AppData.Models.AppointmentSurvey

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>AppointmentSurvey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="editor-lable">
                @Html.LabelFor(model => model.Subject)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Subject)
                @Html.ValidationMessageFor(model => model.Subject)
            </div>

            <div class="editor-lable">
                @Html.LabelFor(model => model.Creator)
            </div>
            <div class="text">
                @Html.DisplayFor(model => model.Creator.Email)
            </div>

            <div class="editor-lable">
                @Html.LabelFor(model => model.Members)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Members, new SelectList(Model.Members, "Id", "Email", Model.Members), "Select one", new { @class = "form-control" })
                @*The Selected Value has to be stored via JAVASCRIPT in an other
                (or the same variable if possible) to be transfered to the 
                controller again. By default the selected values are not
                stored and passed to the controller automatically!!!
                    
                    Look at line 60 and later. There is a first try from a example on the internet.
                    *@
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    $(function () {
    //Dropdownlist Selectedchange event
        $('#UserId').change(function () {
            // Get Dropdownlist seleted item text
            $("#lbltxt").text($("#UserId option:selected").text());
            // Get Dropdownlist selected item value
            $("#lblid").text($("#UserId").val());
        })
    })
</script>