@model AppData.Models.AppointmentSurvey

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>AppointmentSurvey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="editor-lable">
                @Html.LabelFor(model => model.Subject)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Subject)
                @Html.ValidationMessageFor(model => model.Subject)
            </div>

            <div class="editor-lable">
                @Html.LabelFor(model => model.Creator)
            </div>
            <div class="text">
                @Html.ViewBag.Creator.FirstName
            </div>

            <div class="editor-lable">
                @Html.LabelFor(model => model.Members)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Members)
                @Html.ValidationMessageFor(model => model.Members)
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
