@model AppData.Models.Survey

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Survey</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.Creator)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Members)
        </dt>
        <dd>
            @foreach (var item in Model.Members)
            {
                <div>
                    @item.Email
                </div>
                @*<div>
                    <a asp-action="RemoveMember" asp-route-id="@item.Id,@Model.Id">Remove Member</a>
                </div>*@
            }
        </dd>
    </dl>
</div>

@*<div>
    @foreach (var item in Model.Members)
    {
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Members)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Members)
            </dd>
        </dl>
    }
</div>*@

<hr />

<div>
    <h4>Appointments For this Survey</h4>
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>
                    @*Simon*@
                    @Html.ActionLink("Add Appointment", "Create", "Appointments", new { surveyId = Model.Id}, null)
                    
                </th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Room</th>
                <th>Ressources</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointments in @Model.Appointments)
            {

                <tr>
                    <td>
                        <a asp-controller="Appointments" asp-action="Edit" asp-route-id="@appointments.Id">Edit</a>
                    </td>
                    <td>
                        @appointments.StartTime
                    </td>
                    <td>
                        @appointments.EndTime
                    </td>
                    <td>
                        @appointments.Room.Name
                    </td>
                    <td>
                        @appointments.Ressources
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
