@model AppData.Models.Appointment

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Survey.Subject) details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Room.Name)
        </dd>

        @*insert a little space here for better reading*@

        <dt>
            @Html.DisplayNameFor(model => model.Ressources)
        </dt>
        <dd>
            @foreach (var item in Model.Ressources)
        {
            <div>
                @item.Name
        </div>
}
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
