@model AppData.Models.Appointment

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="hidden">
                @Html.EditorFor(model => model.Survey.Id)
            </div>

            <div class="editor-lable">
                @Html.LabelFor(model => model.StartTime)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.StartTime)
                @Html.ValidationMessageFor(model => model.StartTime)
            </div>

            <div class="editor-lable">
                @Html.LabelFor(model => model.EndTime)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.EndTime)
                @Html.ValidationMessageFor(model => model.EndTime)
            </div>
            <div class="editor-lable">
                @Html.LabelFor(model => model.Room)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.SelectedRoom, new SelectList(ViewBag.RoomList, "Id", "Name"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedRoom)
            </div>

            <div class="editor-lable">
                <table class="table">
                    <thead>
                        <tr>
                            @*<th>*@
                            @Html.LabelFor(model => model.Ressources)
                            @*</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Ressources)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            <a asp-action="RemoveRessource" asp-route-id="@item.Id,@Model.Id">Remove Ressource</a>
                        </td>
                    </tr>
        }
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <input type="button" class="btn btn-default" value="Delete" onclick="location.href='@Url.Action("Delete", "Appointments", new { id = Model.Id})'" />
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
            
        </form>
    </div>
</div>

<form asp-action="AddRessource">
    <div class="editor-lable">
        @Html.Label("Add additional ressource:")
    </div>
    <div class="editor-field">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Ressources)
        @Html.HiddenFor(model => model.Room)
        @Html.HiddenFor(model => model.StartTime)
        @Html.HiddenFor(model => model.EndTime)
        @Html.DropDownList("selectedRessource", new SelectList(ViewBag.RessourceList, "Id", "Name"), "Select a ressource", new { onchange = "this.form.submit();" })
    </div>
</form>

<div>
    <a asp-action="Details" asp-controller="Surveys" asp-route-id="@Model.Survey.Id">Back to Survey</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
