@model AppData.Models.Appointment

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="hidden">
                @Html.EditorFor(model => model.Survey.Id)
            </div>

            <div class="editor-lable">
                @Html.LabelFor(model => model.StartTime)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.StartTime)
                @Html.ValidationMessageFor(model => model.StartTime)
            </div>

            <div class="editor-lable">
                @Html.LabelFor(model => model.EndTime)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.EndTime)
                @Html.ValidationMessageFor(model => model.EndTime)
            </div>

            <div class="editor-lable">
                @Html.LabelFor(model => model.Room)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Room.Name)
                @Html.ValidationMessageFor(model => model.Room)
            </div>
            <div class="form-group">
                <label asp-for="Ressources" class="control-label"></label>
                <input asp-for="Ressources" class="form-control" />
                <span asp-validation-for="Ressources" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
