@model AppData.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSeats)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfSeats)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BeamerIsAvailable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeamerIsAvailable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpeakerIsAvailable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpeakerIsAvailable)
        </dd>
    </dl>
</div>


<div>
    <h4>BookedTimes for this Room</h4>
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>Edit</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bookedTime in @Model.RessourceBookedTimes)
            {

                <tr>
                    <td>
                        <a asp-controller="Appointments" asp-action="Edit" asp-route-id="@bookedTime.Id">Edit</a>
                    </td>
                    <td>
                        @bookedTime.BookedTimeId
                    </td>
                    <td>
                        @bookedTime.RessourceId
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
